* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.modalContent {
  background: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.modalTopSection {
  height: 50px ;
  padding: 0 10px;
}

.modalMiddleSection {
  padding: 10px;
  min-height: 80px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.modalBottomSection {
  padding: 10px;
  justify-content: flex-end;
}

.mymodal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  outline: none;
}

.modalTitle {
  margin-right: 10px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.button {
  margin-left: 10px;
  padding: 0 15px;
  width: fit-content;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  word-wrap:unset;
}

.saveBtn {
  background-color: #1D76F8;
}

.closeBtn {
  background-color: #747C85;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.w100 {
  width: 100%;
}